.mo-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 5px;
    border: 1px solid #888;
    width: 70%;
    position: absolute;
    left: 10%;
    z-index: 1000;
}

.mo-closer {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.mo-chat-msg {
    border-bottom: 1px solid rgb(53, 53, 53);
    background-color: #c89cf1;
    color: black;
}