/* NEEDED TO OVERRIDE FBC/FUSAM STYLINGS ON DEFAULT ELEMENTS */
.tts-option {
    all: initial;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

.tts-select {
    all: initial;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    max-width: 95%;
}

.tts-refresh-icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.tts-dialog {
    z-index: 1001;
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    height: min(100dvh, 100dvw);
    margin: 0 auto;
    box-sizing: border-box;
}

.tts-modal-children {
    overflow: auto;
}

.tts-blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
}

/* ______INPUT ______*/
.tts-input-container {
    display: flex;
    flex-direction: row;
}

.tts-input-container>input {
    margin-left: 5px;
}


/* ______VOICE CONTAINERS ______ */
.tts-voices-container {}


/* ______ BUTTONS _____ */

.tts-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}

.tts-btn {
    padding: 0.5em;
    flex-grow: 1;
}


/* ______ TABS ________ */
.tts-tabs {
    display: flex;
}

.tts-tab {
    flex: auto;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
    font-size: 16px;
}

.tts-tab.active {
    background-color: #ccc;
}

.tts-tab-content {}


.tts-delete-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}


/* ______ CHECKBOX ____ */
.tts-checkbox-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row;
    padding: 5px;
}

.tts-checkbox {
    aspect-ratio: 1 / 1;
}

.tts-toggle-container {
    border: grey dotted 1px;
}

/* ____ GENERAL COMPONENTS _____*/

.tts-div-container {
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tts-div-container-row {
    padding: 2px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.tts-boxed-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: grey dotted 1px;
}

.tts-link {
    width: 50%;
    align-self: center;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tts-link:hover {
    background-color: #333;
    color: #fff;
}

/* some other addon styling overrides this again */
.tts-slider {
    cursor: pointer;
}

.tts-slider-text {
    margin-left: 5px;
    margin-right: 5px;
}
